.moviename {
    font-style: italic;
}

a:link, a:visited, a:active, a:hover {
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

p {
    margin-block-start: 0em;
    line-height: 1.5;
}

#maincontent {
    width: 40%;
    float: left;
    margin-top: 0;
    padding-top: 0;
}

#title {
    float: left;
    margin-right: 1vh;
    margin-left: 1vh;
}

#footnotelink {
  text-decoration: none;
}

img {
    max-width: 500px;
    width: 100%;
    height: auto;
    float: left;
    clear: both;
}

#secondimg {
    padding-top: .5vh;
}

@media only screen /*for smartphones*/
  and (min-device-width: 300px)
  and (max-device-width: 900px)
{
    #title {
      margin-left: 0vh;
      margin-right: 0vh;
      margin-bottom: 1vh;
    }

    img {
    width: 100%;
    max-width: 100%;
    height: auto;
    }

    h1, h2, h3 {
        clear: none;
    }

    #maincontent {
        width: 100%;
    }

    #secondimg {
    display: none;
    }

    h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

h1 {
    margin-top: 1vh;
    margin-bottom: 0vh;
    float: left;
    clear: both;
}

h2 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    clear: both;
}

h3 {
    padding-top: 2vh;
    margin-top: 0;
    float: left;
    clear: both;
}

.subhead {
  padding-top: 1vh;
  margin: 0;
  clear: both;
  display: block;
}

#link {
  text-emphasis: none;
  text-decoration: none;
}
